<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h2>おみくじ</h2>
      <button v-if="change" v-on:click="luckCheck">おみくじを引く</button>
      <button v-else v-on:click="oneMore">もう一回引く</button>
      <h2 v-if="change">おみくじ結果</h2>
      <h2 v-else>{{result}}</h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
